body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom: 2px;
}

h2 {
    color: #4d4d4d;
    font-size: 14pt;
}

#pagetitle h1{
    display: inline;
}

#pagetitle h2 {
    display: inline;
}

#pagetitle {
    margin-bottom: 20px;
    min-width: 200px;
}

nav a:link {
    font-weight: bold;
    text-decoration: none;
}

footer {
    font-weight: bold;
    color: #555;
}

footer a.license {
    text-decoration: none;
    color: inherit;
    font-style:italic;
}

body {
    margin-top: 0px;
    background-color: #eee;
}

#wrapper {
    max-width: 900px;
    margin: 0px auto auto auto;
    background-color: white;
    padding: 30px 30px 50px 30px;
}

code {
    font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
    color: #5d000f;
}

footer#tail {
    max-width: 900px;
    background-color: #333;
    color: #ccc;
    font-size: 10pt;
    padding: 8px 30px 8px 30px;
    margin: 0px auto auto auto;
    text-align: left;
    position: relative;
}

footer #authortail {
    text-align: right;
    position: absolute;
    right: 10px;
}

footer #copy {
    text-align: left;
    position: absolute;
    left: 10px;
}

footer#tail a:link, footer#tail a:visited{
    color: white;
    text-decoration: none;
}

article  {
    padding-top: 10px;
    text-align: justify;
}

q  {
    font-style: italic;   
}