<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28145041-2']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
</head>
<body>
    <div id='wrapper'>
    {{content}}
    </div>
    <footer id='tail'>
        James Hannah :: <a href='&#109;&#97;il&#116;&#111;&#58;&#106;ames&#37;40tlyk&#46;e&#37;75'>j&#97;mes&#64;t&#108;y&#107;&#46;eu</a>
    </footer>
</body>
</html>