<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id='wrapper'>
    <nav>
        <a href='/'>&laquo; Back to index</a>
    </nav>
    <article>
        <h1>{{page.title}}</h1>
        {{content}}
    </article>
    </div>
    <footer id='tail'>
        &nbsp;
        <span id='copy'>Available under <abbr title="Creative Commons Non-Commercial Attribution Share Alike"><a class='license' href='http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US'>CC-NC-BY-SA</a></abbr>. Source on <a href='http://github.com/jiphex/jiphex.github.com/tree/master/_posts/'>GitHub</a>.</span>
        <span id='authortail'>James Hannah :: <a href='&#109;&#97;il&#116;&#111;&#58;&#106;ames&#37;40tlyk&#46;e&#37;75'>j&#97;mes&#64;t&#108;y&#107;&#46;eu</a></span>
    </footer>
</body>
</html>